@import "vars.scss";
.preview {
  height: 100vh;

  &-slider {
    height: 100%;
  }
  &-slide {
    background: $weat;
    color: $blue;
    height: 100vh;
  }
  &-slide-content {
    display: grid;
    grid-template-rows: 40% 35% 25%;

    padding-top: 15vh;
    box-sizing: border-box;
    height: inherit;
    justify-items: center;
    align-items: center;
    /* display: flex; */
  }
  &-img {
    max-width: 100%;
  }
  &-text {
    text-align: center;
    font-size: 26px;
    line-height: 140%;
    span {
      font-weight: 800;
    }
  }
  &-btns {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 5vh;
  }
  &-next {
    cursor: pointer;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 0.29em;
    background: rgba(19, 170, 255, 0.65);
    box-shadow: 0px 4px 12px rgba(228, 221, 150, 0.7);
    border-radius: 17px;
    color: $weat;
    height: 52px;
    width: 272px;
  }
  &-next:active {
    box-shadow: none;
    transition: 0.5s;
  }
  &-end {
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.16em;
    opacity: 0.7;
  }
  &-dots {
    order: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    top: 7.5vh;
    li {
      display: flex;
    }
    button {
      margin: 0 11px;
      border: 2px solid rgba(19, 170, 255, 0.65);
      border-radius: 50%;
      width: 15px;
      height: 15px;
      font-size: 0;
      background: inherit;
      transition: 0.5s;
      box-sizing: border-box;
      cursor: pointer;
    }
    .slick-active {
      button {
        background: rgba(19, 170, 255, 0.65);
      }
    }
  }
}
