@import "vars.scss";
.profile {
  height: 100%;
  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &-input {
    max-width: 100%;
    color: $blue;
    border: none;
    background: none;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.16em;
    padding: 0.5em 0.5em;
    border-radius: 17px;
    box-sizing: border-box;
  }
  &-input::placeholder {
    color: $blue;
  }
  &-input--active {
    box-shadow: 0 0 0 3pt $blue;
  }
  &-btn {
    margin-top: 109px;
    background-color: $blue;
    color: #fff176;
    font-weight: 900;
    font-size: 25px;
    box-shadow: 0px 4px 12px rgba(228, 221, 150, 0.7);
    border-radius: 17px;
    width: 136px;
    height: 52px;
  }
  &-btn:active {
    box-shadow: none;
  }
}
